<article class="flex flex-col items-center p-4 bg-white border-b-2 border-gray-100 rounded-md sm:flex-row hover:border-gray-300">
    {{#if feature_image}}
        <div class="flex-shrink-0 w-full h-24 mb-4 overflow-hidden rounded-lg sm:w-24 sm:mb-0 sm:mr-4">
            <img class="object-cover w-full h-full" src="{{img_url feature_image size="small"}}" alt="">
        </div>
    {{/if}}
    <div class="flex-1">
        <a class="block post-card-content-link" href="{{url}}">
            <header class="mb-2 post-card-header">
                <div class="flex items-center mb-2 post-card-tags">
                    {{#primary_tag}}
                        <div class="post-card-primary-tag">
                            <span class="mr-1 hashtag">#</span>
                            <span>{{name}}</span>
                        </div>
                    {{/primary_tag}}
                </div>
                <div class="flex items-center justify-center sm:justify-start">
                    {{#if featured}}
                        <span class="mr-2 text-xs post-card-featured text-orangeValencia flame-icon">{{> "icons/fire"}}</span>
                    {{/if}}
                    <h2 class="text-xl font-bold text-center font-heading sm:text-left">{{title}}</h2>
                </div>
            </header>
            {{#if excerpt}}
                <div class="text-sm text-anthracite">
                    {{excerpt words="50"}}
                </div>
            {{/if}}
        </a>
        <footer class="mt-4 text-xs text-gray-500 post-card-meta">
            <time class="post-card-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
            {{#if reading_time}}
                <span class="ml-4 post-card-meta-length">{{reading_time}}</span>
            {{/if}}
            {{#if @site.comments_enabled}}
                {{#if comment_count}}
                    {{#if (comment_count '>' 0)}}
                        <span class="ml-4">{{comment_count}} comments</span>
                    {{/if}}
                {{/if}}
            {{/if}}
        </footer>
    </div>
</article>
