<div class="w-full mb-6 text-center sidebar-links">

  <ul class="inline-block space-y-2">

    {{#if @custom.sidebar_link1_text}}
      <li>
        <a
          href="{{@custom.sidebar_link1_url}}"
          class="block px-2 py-2 text-lg font-semibold transition-colors duration-200 rounded text-anthracite dark:text-darkText hover:text-orangeValencia dark:hover:text-orangeValencia hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          {{@custom.sidebar_link1_text}}
        </a>
      </li>
    {{/if}}
    {{#if @custom.sidebar_link2_text}}
      <li>
        <a
          href="{{@custom.sidebar_link2_url}}"
          class="block px-2 py-2 text-lg font-semibold transition-colors duration-200 rounded text-anthracite dark:text-darkText hover:text-orangeValencia dark:hover:text-orangeValencia hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          {{@custom.sidebar_link2_text}}
        </a>
      </li>
    {{/if}}
    {{#if @custom.sidebar_link3_text}}
      <li>
        <a
          href="{{@custom.sidebar_link3_url}}"
          class="block px-2 py-2 text-lg font-semibold transition-colors duration-200 rounded text-anthracite dark:text-darkText hover:text-orangeValencia dark:hover:text-orangeValencia hover:bg-gray-100 dark:hover:bg-gray-700"
        >
          {{@custom.sidebar_link3_text}}
        </a>
      </li>
    {{/if}}
  </ul>
</div>