<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <link rel="stylesheet" href="{{asset "css/main.css"}}">
    <script>
        tailwind.config = {
            content: [
                './src/**/*.{html,js,hbs}',
            ],
            theme: {
                extend: {
                    colors: {
                        anthracite: '#292C2F',
                        orangeValencia: {
                            100: '#FEEAE6',
                            200: '#FDC6BE',
                            300: '#FBA296',
                            400: '#F97D6E',
                            500: '#F75946',
                            600: '#D84727', // Default color
                            700: '#A0361D',
                            800: '#682513',
                            900: '#301308'
                        }
                    },
                    fontFamily: {
                        heading: ['"Fira Mono"', 'monospace'],
                        body: ['"Lexend Deca"', 'sans-serif'],
                    },
                },
            },
            plugins: [
                require('@tailwindcss/typography'),
            ],
        }
    </script>
    <title>{{meta_title}}</title>
    <style>
        body {
            font-family: 'Lexend Deca', sans-serif;
        }

        h1, h2 {
            font-family: 'Fira Mono', monospace;
        }
    </style>
        {{ghost_head}}
</head>
<body class="bg-white text-anthracite">
<div class="flex min-h-screen">
    <!-- Navigation Section -->
    <div class="flex flex-col items-center justify-center w-64 bg-white h-screen border-r p-6 fixed">
        <nav class="flex flex-col items-center justify-center h-full">
            {{navigation}}
        </nav>
    </div>

    <main class="ml-64 w-3/4 p-8 flex-grow h-scroll max-h-screen overflow-auto">
        {{{body}}}
    </main>
        {{ghost_foot}}

</div>
</body>
</html>
