{{!< default}}

<main class="site-main outer">
    <div class="inner">
        <!-- Main Content -->
        {{#page}}
            <article class="gh-article p-0 {{page_class}} font-body post-full-content">
                {{#if @page.show_title_and_feature_image}}
                    {{#if feature_image}}
                        <header class="relative w-full h-48 mb-4 bg-center bg-cover md:h-64"
                                style="background-image: url('{{img_url feature_image size="xl"}}');">
                            <div class="absolute inset-0 bg-black opacity-50"></div>
                            <div class="relative z-10 flex items-center justify-center h-full">
                                <div class="px-4 text-center text-white overflow-ellipsis sm:text-wrap">
                                    <h1 class="max-w-full text-2xl leading-6 tracking-tight sm:text-4xl lg:text-5xl font-heading sm:leading-4">{{title}}</h1>
                                    <div class="py-2 my-4 text-sm">
                                        <time datetime="{{date format="DD-MM-YYYY"}}">{{date format="D MMM YYYY"}}</time>
                                        {{#if tags}}
                                            <span class="bull">•</span>
                                            {{#foreach tags}}
                                                <span class="inline-flex items-center">{{name}}</span>
                                            {{/foreach}}
                                        {{/if}}
                                        <span class="bull">•</span>
                                        <span class="text-sm gh-post-authors">
                                            Written by
                                            {{#foreach authors}}
                                                <a href="{{url}}" class="font-bold">
                                                    {{#if profile_image}}
                                                        <img class="inline-block w-4 h-4 mr-1 rounded-full"
                                                             src="{{profile_image}}" alt="{{name}} Profile Picture"/>
                                                    {{/if}}
                                                    {{name}}
                                                </a>
                                            {{/foreach}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </header>
                    {{else}}
                        <h1 class="mb-4 text-4xl leading-5 tracking-tight text-center font-heading sm:text-5xl lg:text-6xl text-anthracite">{{title}}</h1>
                        <div class="py-2 my-4 text-sm text-center">
                            <time datetime="{{date format="DD-MM-YYYY"}}">{{date format="D MMM YYYY"}}</time>
                            <span class="bull">•</span> {{reading_time}}
                            {{#if tags}}
                                <span class="bull">•</span>
                                {{#foreach tags}}
                                    <span class="inline-flex items-center">{{name}}</span>
                                {{/foreach}}
                            {{/if}}
                            <span class="bull">•</span>
                            <span class="text-sm gh-post-authors">
                                Written by
                                {{#foreach authors}}
                                    <a href="{{url}}" class="font-bold">
                                        {{#if profile_image}}
                                            <img class="inline-block w-4 h-4 mr-1 rounded-full" src="{{profile_image}}"
                                                 alt="{{name}} Profile Picture"/>
                                        {{/if}}
                                        {{name}}
                                    </a>
                                {{/foreach}}
                            </span>
                        </div>
                    {{/if}}
                {{/if}}
                <div class="w-full text-base antialiased font-normal leading-normal prose prose-lg sm:leading-relaxed prose-p:text-anthracite prose-ul:text-anthracite prose-strong:text-anthracite prose-th:text-anthracite prose-h1:text-anthracite prose-h2:text-anthracite prose-h3:text-anthracite prose-strong:font-bold dark:prose-p:text-darkText dark:prose-ul:text-darkText dark:prose-strong:text-darkText dark:prose-th:text-darkText dark:prose-h1:text-darkText dark:prose-h2:text-darkText dark:prose-h3:text-darkText dark:prose-invert gh-content max-w-none">
                    {{content}}
                </div>
            </article>
        {{/page}}

        <!-- Include "You Might Like" Section -->
        {{> "you-might-like"}}
    </div>
</main>
