{{!< default}}
{{#post}}
<article class="gh-article p-0 {{post_class}} font-body post-full-content">
    <header class="relative w-full mb-4 h-64 md:h-96 bg-cover bg-center" style="background-image: url('{{img_url feature_image size="xl"}}');">
        <div class="absolute inset-0 bg-black opacity-50"></div>
        <div class="relative z-10 flex items-center justify-center h-full">
            <div class="text-center text-white">
                <h1 class="text-4xl font-heading leading-10 tracking-tight sm:text-5xl lg:text-6xl">
                    {{title}}
                </h1>
                <div class="py-2 my-4 text-sm">
                    <time datetime="{{date format="DD-MM-YYYY"}}">{{date format="D MMM YYYY"}}</time>
                    <span class="bull">•</span> {{reading_time}}
                    {{#if tags}}
                        <span class="bull">•</span>
                        {{#foreach tags}}
                            <span class="inline-flex items-center">{{name}}</span>
                        {{/foreach}}
                    {{/if}}
                    <span class="bull">•</span>
                    <span class="text-sm gh-post-authors">
                        Written by
                        {{#foreach authors}}
                            <a href="{{url}}" class="font-bold">
                                {{#if profile_image}}
                                <img class="inline-block w-4 h-4 rounded-full mr-1" src="{{profile_image}}" alt="{{name}} Profile Picture"/>
                                {{/if}}
                                {{name}}
                            </a>
                        {{/foreach}}
                    </span>
                </div>
            </div>
        </div>
    </header>

    <div class="w-full text-base antialiased font-normal leading-normal prose prose-lg sm:leading-relaxed prose-code:text-orangeValencia prose-p:text-anthracite prose-ul:text-anthracite prose-strong:text-anthracite prose-th:text-anthracite prose-h1:text-anthracite prose-h2:text-anthracite prose-h3:text-anthracite prose-strong:font-bold gh-content max-w-none">
        {{content}}
    </div>

    <footer class="pt-4">
        {{> "share-block"}}
        {{comments}}
    </footer>
</article>

<aside class="w-full pb-4 gh-readmore">
    <div class="flex justify-between text-base gh-readmore-inner font-heading">
        <div class="gh-readmore-next">
            {{#next_post in="primary_tag"}}
            <a href="{{url}}" class="hover:text-orangeValencia transition ease-in-out duration-300">
                {{> "icons/arrow-left"}}
                <p class="ml-1">{{title}}</p>
            </a>
            {{/next_post}}
        </div>
        <div class="gh-readmore-prev">
            {{#prev_post in="primary_tag"}}
            <a href="{{url}}" class="hover:text-orangeValencia transition ease-in-out duration-300">
                <p class="mr-1">{{title}}</p>
                {{> "icons/arrow-right"}}
            </a>
            {{/prev_post}}
        </div>
    </div>
</aside>
{{/post}}
